<meta charset="utf-8" />
<title>{{title}}</title>
<link rel="stylesheet" href="/writ.min.css">
<link rel="stylesheet" href="/style.css" type="text/css" media="all" />
<link rel="alternate" href="/rss.xml" type="application/rss+xml" title="RSS" />
<meta name="author" content="Jan-Erik Rediger">
<meta name="description" content="Personal website of Jan-Erik Rediger"/>
