<!DOCTYPE html>
<html lang="en">
  <head>
      {{ include "_layouts/_head.liquid" }}
  </head>
  <body>
    {{ include "_layouts/_menu.liquid" }}


    <main>
      {{content}}
    </main>

    {{ include "_layouts/_footer.liquid" }}
  </body>
</html>
