<!DOCTYPE html>
<html lang="en">
  <head>
      {{ include "_layouts/_head.liquid" }}
  </head>
  <body>
    {{ include "_layouts/_menu.liquid" }}


    <main>
    <article>
      <h1>{{ title }}</h1>
      <time pubdate="pubdate">{{ date | date: "%b %d, %Y" }}</time><br />

      {{ content }}
    </article>
    </main>

    {{ include "_layouts/_footer.liquid" }}
  </body>
</html>
